name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build-release:
    runs-on: windows-latest

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Checkout and initialise
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Dalamud
        shell: pwsh
        run: |
            Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile ./latest.zip
            Expand-Archive -Path ./latest.zip ./dalamud
            Expand-Archive -Path ./latest.zip "$env:APPDATA\xivlauncher\Addon\Hooks\dev"

      - name: Restore project dependencies
        run: dotnet restore --verbosity normal

      - name: Build Release
        run: dotnet build --no-restore --verbosity normal --configuration Release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Dalamud.Tomestone-release-${{ github.sha }}
          path: |
            Dalamud.Tomestone/bin/x64/Release
            !Dalamud.Tomestone/bin/x64/Release/Dalamud.Tomestone

      - name: Create Release
        id: create_release
        uses: actions/create-release@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Dalamud.Tomestone ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./Dalamud.Tomestone/bin/x64/Release/Dalamud.Tomestone/latest.zip
          asset_name: Dalamud.Tomestone.zip
          asset_content_type: application/zip

      - name: Write out repo.json
        run: |
          $ver = '${{ github.ref }}' -replace 'refs/tags/',''
          $repo = '${{ github.repository}}'
          $path = './base_repo.json'
          $new_path = './repo.json'
          $content = get-content -path $path
          $content = $content -replace '1.0.0.0',$ver
          $content = $content -replace ':REPOSITORY:',$repo
          set-content -Path $new_path -Value $content
      - name: Commit repo.json
        run: |
          git config --global user.name "Actions User"
          git config --global user.email "actions@github.com"
          git fetch origin master && git checkout master
          git add repo.json
          git commit -m "[CI] Updating repo.json for ${{ github.ref }}" || true
          git push origin master || true
